/* Color Palette 
   #121212: Dark gray - used for backgrounds
   #1BEBED: Cyan - primary color of Project SUMO logo 
   #EF5BF2: Magenta - secondary color of Project SUMO logo 
   #A6EBED: Cyan at 30% saturation - desaturated for best use on dark background
   #F1A9F2: Magenta at 30% saturation - desaturated for best use on dark background 
*/

body 
{
  background: #121212;
  padding: 0px;
  margin: 0px;
  font-family: 'Oxygen', 'Verdana', sans-serif;
  font-size: 16px;
  color: #fff; 
}

input, button 
{
  font-family: 'Oxygen', 'Verdana', sans-serif;
  font-weight: 700;
}

.main, .logo
{
  position: relative; 
  text-align: center; 
  font-family: 'Oxygen', 'Verdana', sans-serif;
  top: 10%; 
}

.main, .loggedin-div
{
  width: 20%;
  margin: 0px auto;
  margin-top: auto;
  padding: 20px;
}

.main input 
{
  color: #fff; 
  display: block;
  border: 1px solid #F1A9F2;
  border-radius: 5px;
  background: #121212;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main input:focus
{
  border: 1px solid 777;
}
.main button, .loggedin button
{
  background: #A6EBED;
  color: #121212;
  border: 1px solid #A6EBED;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  margin-top: 15px; 
}

.main button:hover, .loggedin button
{
  background: #121212;
  color: #A6EBED;
  border: 1px solid #A6EBED;
  cursor: pointer;
}

.nav-bar ul 
{
  list-style-type: none; 
}

.nav-bar li 
{
  float: right; 
  padding: 15px; 
}

.nav-bar a 
{
  display: block;
  color: #F1A9F2;
  text-align: center; 
  padding: 8px; 
  text-decoration: none; 
  font-weight: 700;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  border-radius: 5px; 
}

.nav-bar a:hover 
{
  background-color: #F1A9F2;
  color: #121212; 
}

.nav-bar img
{
  height: 60;
  width: 100; 
}

#logo img 
{
  height: 200; 
  width: 300; 
}